/*
 * @Author: chen zhen
 * @Date: 2018-08-09 16:42:56
 * @Last Modified by: chen zhen
 * @Last Modified time: 2018-08-09 16:42:56s
 * @Description sass mixin
 */

@mixin getActiveBG() {
  background: #0e1620;
  // background: -webkit-radial-gradient(center ellipse, #15596c 0%, rgba(14, 22, 32, 0.28) 70%);
  // background: radial-gradient(ellipse at center, #15596c 0%, rgba(14, 22, 32, 0.28) 70%);
  background: -webkit-radial-gradient(center ellipse, #15596c 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, #15596c 0%, rgba(255, 255, 255, 0) 80%);
}
